body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circle {
  position: relative;
  border-radius: 50%;
  width: 80%;
  height: auto;
  padding-top: 80%;
  background: grey;
}

.circle:hover {
  top: -15px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.circle-row {
  width: 33%;
  height: auto;
  display: inline-block;
}

.card {
  height: 100%;
  // &:hover {
  //   top: -15px;
  //   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  // }
}

.dashboard {
  margin: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.sticky {
  font-size: 14pt;
  padding: 20px;
  border-radius: 6px;
  min-width: 200px;
  max-width: 400px;
  min-height: 150px;
  max-height: 400px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.sticky:hover {
  top: -15px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.modal-box {
  text-align: center;
  margin: auto;
  width: 500px;
}

.new-note {
  z-index: 10;
  background-color: rgb(115, 155, 135);
  position: sticky;
  border-radius: 6px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#title {
  background-color: white;
}

#content {
  background-color: white;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker {
  margin: inherit;
  padding: 10px;
}

textarea {
  font-size: 14pt;
  border: 1px solid #888;
  border-radius: 6px;
  max-width: 400px;
}

button {
  margin: 10px;
}

.control {
  text-align: center;
  max-width: 600px;
}
