input {
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  height: 100%;
  border-radius: 6px;
}

.card:hover {
  top: -15px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.dashboard {
  margin: auto;
  align-content: center;
  justify-content: center;
}

.sticky {
  font-size: 14pt;
  padding: 20px;
  border-radius: 6px;
  min-width: 200px;
  max-width: 240px;
  min-height: 150px;
  max-height: 400px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.sticky:hover {
  top: -15px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.modal {
  z-index: 1000;
  padding: 150px;
}

.modal-box {
  text-align: center;
  margin: auto;
  width: 500px;
}

.new-note {
  label {
    color: white;
  }
  margin-top: 200px;
  // margin: auto;
  z-index: 10;
  background-color: #3f51b5;
  position: fixed;
  border-radius: 6px;
  padding: 20px;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2) button {

  }
}

#title {
  background-color: white;
}

#content {
  background-color: white;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker {
  margin: inherit;
  padding: 10px;
}

textarea {
  font-size: 14pt;
  border: 1px solid #888;
  border-radius: 6px;
  max-width: 400px;
}

button {
  margin: 10px;
}

.control {
  text-align: center;
  max-width: 600px;
}

#note-toggle {
  margin-top: 100px;
  position: fixed;
}

.dashboard {
  padding: 100px;
}

.notebook {
  padding: 100px;
}

#navbar {
  z-index: 10;
}
.green-button {
  background-color: green;
}
#root {
  margin: 65px 0 0 0;
}
.sign-in-container {
  padding: 40px 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: auto !important;
  }
}
.box {
  display: flex;
  width: 100%;
}
.sign-in-container,
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    min-width: 400px;
    padding: 20px;
  }
  .box {
    max-width: 640px;
    width: auto;
  }
}
.notebook {
  padding: 0 60px;
  .section {
    .box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

#filter-select {
  margin: 150px 150px 0 150px;
}
